/* External fonts starts from here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* External fonts ends here */

/* All Css starts from here */

/* Root Css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
:root {
  overflow: hidden;
}

body {
  font-family: "Poppins", serif;
  background-color: #4e24c4;
  overflow-x: hidden;
}

.container {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2px;
  background-color: #fff;
  top: 3rem;
  opacity: 0.5;
}

.nav_menu ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.nav_menu ul li a {
  margin-left: 3rem;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.logo img {
  width: 100%;
  height: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
  color: #fff;
}

.hero h1 {
  font-size: 13rem;
  font-weight: 600;
}

.hero h5 {
  font-size: 4.9rem;
}

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* nav-toggler css ends */

/* Responsive area starts from here */
/* Media queries for medium devices */
@media screen and (max-width: 995px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .nav {
    min-height: 60px;
  }

  .container::after {
    display: none;
  }

  .nav_menu {
    margin-top: 5rem !important;
  }

  .nav_menu ul {
    position: absolute;
    width: 100%;
    height: 20rem;
    left: 0;
    top: 60px;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .nav_menu ul li {
    width: 100%;
    text-align: center;
  }

  .nav_menu ul li a {
    padding: 25px;
  }

  .nav_menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nav_menu ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  /* Responsive area ends here */
}
/* All Css ends here */
